<header id="header-home-layout" style="background-image: url(<%- coverImage %>)">

  <div class="header-home-layout__nav">
    <a class="header-home-layout__nav__back" href="/">返回主页</a>

    <div class="header-home-layout__nav__status">
      <a class="header-user-unlogined-status" href="<%= appHost %>/login">登入</a>
    </div>
  </div>



  <img class="header-home-layout__logo" src="/img/logo.png">
  <div class="header-home-layout__title-wrap">
    <h1 class="header-home-layout__title header-home-layout__title--course">
      <%= title %>
    </h1>
  </div>

  <%- partial("subscribe-form") %>

  <ul class="header-home-layout__navbar">
    <li><a href="/design101">设计</a>
    </li>
    <li><a href="/css0to1">前端</a>
    </li>
    <li><a href="/?course=ios">iOS</a>
    </li>
    <li><a href="/nodejs">NodeJS</a>
    </li>
  </ul>
</header>
