<form class="header-home-layout__enroll input-box js-panel--enrolling__form js-email-subscribe-form"
    action="<%= appHost %>/enrollments"
    accept-charset="UTF-8"
    method="post">
  <input name="utf8" type="hidden" value="✓">

  <input type="hidden" name="course_id" id="course_id" value="<%= courseId %>">

  <input class="input-box__text" name="email" placeholder="name@domain.com" type="text">

  <input class="input-box__button" type="submit" value="申请加入课程">
</form>