<header id="header-home-layout">

  <img class="header-home-layout__logo" src="/img/logo.png">
  <div class="header-home-layout__title-wrap">
    <h1 class="header-home-layout__title ">
      满足您的技术情怀
      <p>
        专注 IT 领域远程学徒式
      </p>
    </h1>

  </div>

  <form class="header-home-layout__enroll input-box js-panel--enrolling__form" action="/enrollments" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="course_id" id="course_id" value="design101"><input class="input-box__text" name="email" placeholder="name@domain.com" type="text"><input class="input-box__button" type="submit" value="申请加入课程"></form>

  <ul class="header-home-layout__navbar">
    <li><a href="/design101">设计</a>
    </li>
    <li><a href="/css0to1">前端</a>
    </li>
    <li><a href="/?course=ios">iOS</a>
    </li>
    <li><a href="/?course=nodejs">NodeJS</a>
    </li>
  </ul>
</header>