<div id="footer-home-layout__intro">
  <div class="footer-home-layout__intro">
    <div class="footer-home-layout__avatar">
      <img alt="avatar" src="/img/howard-yeh.jpg">
    </div>
    <div class="footer-home-layout__content">
      <h2>
        导师介绍
      </h2>
      <p>
        我叫 Howard，台湾同胞一枚。小时候随家人移民加拿大。2011 年远程工作，边旅行边赚钱。那一年第一次来到了天朝。我写了篇有关这个经历的博文<a href="http://metacircus.com/writings/2011/09/19/from-the-office-to-travelling-the-world.html">From The Office to Travelling The World</a> 。2012 年觉得生活太安逸，决定来中国发展，发现难度瞬间提升为 Hard。在深圳和朋友创立了<a href="http://www.puffant.com">小象网</a> ，做创意纸品，婚纱相册之类的产品。现在已盈利，处稳定发展状态。2013 夏，搬到成都和女朋友在一起。
      </p>
      <p>
        GitHub: http://github.com/hayeah
      </p>
      <p>
        Blog: http://metacircus.com
      </p>
    </div>
  </div>
</div>