<footer id="footer-home-layout__footer">
  <div class="footer-home-layout__footer">
    <div class="footer-logo">
      <a href="#"><img alt="思客" src="/img/footer-logo.png" width="59"></a>
    </div>
    <div class="copyright">
      ©2015 思客
    </div>
    <nav class="contact">
      <ul>
        <li>
          <a href="mailto:contact@besike.com">联系我们</a>
        </li>
        <li>
          <a href="http://bbs.sike.io">交流论坛</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>