<header id="header-home-layout">

  <img class="header-home-layout__logo" src="/img/logo.png">
  <div class="header-home-layout__title-wrap">
    <h1 class="header-home-layout__title ">
      满足您的技术情怀
      <p>
        专注 IT 领域远程学徒式
      </p>
    </h1>

  </div>

  <%- partial("subscribe-form") %>

  <%- partial("nav") %>
</header>