<ul class="header-home-layout__navbar">
  <li><a href="/design101">设计</a>
  </li>
  <li><a href="/css0to1">前端</a>
  </li>
  <li><a href="/ios">iOS</a>
  </li>
  <li><a href="/nodejs">NodeJS</a>
  </li>
</ul>