<%- partial("../_shared/header") %>

<!-- <header id="header-home-layout" style="background-image: url(<%- coverImage %>)">

  <img class="header-home-layout__logo" src="/img/logo.png">
  <div class="header-home-layout__title-wrap">
    <h1 class="header-home-layout__title header-home-layout__title--course">
      <%= title %>
    </h1>
  </div>

  <form class="header-home-layout__enroll input-box js-panel--enrolling__form" action="/enrollments" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="course_id" id="course_id" value="design101"><input class="input-box__text" name="email" placeholder="name@domain.com" type="text"><input class="input-box__button" type="submit" value="申请加入课程"></form>
  <ul class="header-home-layout__navbar">
    <li>
      <a style="text-decoration: underline;">设计</a>
    </li>
    <li><a href="/?course=css0to1">前端</a>
    </li>
    <li><a href="/?course=ios">iOS</a>
    </li>
    <li><a href="/?course=nodejs">NodeJS</a>
    </li>
  </ul>
</header> -->

<div class="container">
  <div class="course-info__section course-info__section--large-padding">
    <h1>
      码农怎么学设计？
    </h1>
    <p>
      我发现之前自学设计的方法错了。
    </p>
    <p>
      一开始我学了设计原理。什么颜色理论，字体分类，Grid 设计，观摩设计大神的作品。但这些离实际操作实在太远了。我的目的是做页面，做 App，而不是要当一个艺术家。
    </p>
    <p>
      就好像你想学做菜，师傅一开始就教你营养学，让你看舌尖上的中国找灵感。看起来很好，结果当然是还是不会做菜。
    </p>
    <p>
      总结了一下自己的学习经验，我认为更有用的不是理论，而是一些具体的操作建议，比如：
    </p>
    <ol>
      <li>
        这么多字体用哪个好？用多大的字号？
      </li>
      <li>
        我不会拍照，在哪里找好看的照片当背景？
      </li>
      <li>
        不会画画，在哪里找图标当素材？
      </li>
      <li>
        有哪些常见的排版方式我可以拿来套内容？
      </li>
      <li>
        有哪些简单的技巧可以加强设计感？
      </li>
    </ol>
  </div>
  <div class="course-info__section course-info__section--large-padding">
    <h1>
      这个课程教你什么？
    </h1>
    <p>
      设计是个相对主观的领域。要成为真正的设计师，你需要长时间去培养美感，了解设计行业的文化历史，和未来的发展。
    </p>
    <p>
      我们的目标不是把你变成一个设计师，而是让你有足够的 ”设计常识“ 去做出现代感十足的设计。
    </p>
    <p>
      再拿做菜当比喻，我们不可能在短时间内让你变成一个厨师，各种菜，各种风格都会做。我们只想让你做出一道好菜。只要材料选对，简单的刀法，控制好火候别烧焦，佐料别乱放，做出来味道不会差太多。
    </p>
    <p>
      这个课程会教你现在流行的 “扁平极简” 风格。这个风格有几个好处：
    </p>
    <ul>
      <li>
        操作容易，不需要华丽的技巧
      </li>
      <li>
        不需要复杂配色和绘画能力
      </li>
      <li>
        应用场景多，通用性强
      </li>
      <li>
        极简设计更能凸显产品和内容本身
      </li>
    </ul>
  </div>
</div>