<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/static.css">
    <script type="text/javascript" src="/assets/static.js"></script>
  </head>
  <body id="home_index" class="sike-global">
    <%- yield %>
  </body>
</html>