<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/static.css">
    <script type="text/javascript" src="/assets/static.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

  </head>
  <body id="home_index" class="sike-global">
    <%- yield %>
  </body>
</html>